@import '../../Genreal.scss';

.landing {
  width: 100%;
  height: 350px;
  background-color: rgba(63, 222, 236, 0.148);
  background-image: url('https://images.pling.com/img/00/00/62/03/23/1573193/d677e028522106d55a0aca5c0fa85ec713faf7bd5a848aa964e4cc7ff7e513e44084.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  &-cover {
    width: 100%;
    height: 100%;
    @extend .flex-column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.682);
    padding: 50px;
    &-description {
      width: 60%;
    }
    &-properties {
      width: 60%;
      @extend .flex-row;
      align-items: center;
      font-size: 12px;
      padding: 10px 0;
      & span {
        margin: 0 8px;
      }
    }
  }
}